@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.left{float:left;}
.right{float: right;}
b{font-weight: normal;}
.warp{width: 1226px;overflow: hidden;margin: 0 auto;}
/* top */
#top{height: 40px;
	width: 100%;
	margin: 0 auto;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;}
#top ul{line-height: 40px;}
#top ul a{color: #b0b0b0; }
#top ul a:hover{color:#fff;text-decoration: none;}
#top .sep {
    margin: 0 .5em;
    color: #424242;
}
#top .cart{
	position: relative;
	display: inline-block;
	width: 120px;
	height: 40px;
	color: #fff;
    background: #ff6700;
    text-align: center;
	margin-left: 15px;
}
#top .cart:hover{color: #ff6700;
    background: #fff;}
#bigcart{width: 318px;padding-top: 10px;height: 10px;position: absolute;top:40px;right: 0;z-index: 10}
.mydd{display:none;}
.header{height: 100px;position: relative;width: 100%;margin: 0 auto;}
.header .img1{width: 55px;height: 55px;float: left;margin-top: 22px;padding-right: 7px;}
.doodle{
    float: left;
    width: 165px;
    height: 100px;
    background: url(../img/mi5s.gif) no-repeat center center;
}
.nav li{position: relative;}
.nav li p{font-size: 14px;}
.nav li span{
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    color:#e0e0e0;
}
.navright{ 
    color: rgba(255,255,255,0.5);
   }
.topnavlist{border-top: 1px solid #e0e0e0;position: absolute;left: 0;top:100px;height: 230px;display: none;z-index: 9999;background: #fff;width: 100%;}
.topnavlist ul li{float: left;text-align: center;width: 180px;
    padding: 35px 12px 0;position: relative;}
.topnavlist ul li img{ 
    width: 160px;
    height: 110px;   
    margin: 0 auto 16px;
    text-align: center;}
.topnavlist ul li p{line-height: 20px;height: 20px;}
.topnavlist ul li p a{display:block;color:#333;}
.topnavlist ul li p span{color:#ff6700}
.topnavlist ul .noleft:before{
    width: 0;
}
.topnavlist ul li:before{
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color: #e0e0e0;}
.topnav{float:left;padding-top: 12px;height: 88px;}
.topnav .topnavp li,.topnavp1 li{float: left;text-align: center;padding: 26px 10px 38px;}
.topnavp1 li{padding-top: 38px;}
.topnav .topnavp li span a,.topnavp1 li span a{font-size:17px;color:#000;}
.topnav .topnavp li span a:hover,.topnavp1 li span a:hover{text-decoration: none;color:#ff6700;}
.header-search{    float: right;
    width: 296px;
    margin-top: 25px;}
.search-form {
position: relative;
width: 296px;
height: 50px;
}
.search-text {
position: absolute;
top: 0;
right: 51px;
z-index: 1;
width: 245px;
height: 48px;
padding: 0 10px;
border: 1px solid #e0e0e0;
font-size: 14px;
line-height: 48px;
outline: 0;
-webkit-transition: all .2s;
transition: all .2s;
}
.keyword-list{
    display: none;
}
.keyword-list li a {
    position: relative;
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;}
.keyword-list li a:hover{
    background: #eee;
}
.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 48px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.search-hot-words {
    position: absolute;
    top: 17px;
    right: 62px;
    z-index: 2;
    text-align: right;
}
.search-hot-words a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.keyword-list {
    position: absolute;
    left: 0;
    top: 48px;
    _top: 51px;
    z-index: 20;
    width: 243px;
    border: 1px solid #ff6700;
    border-top: 0;
    background: #fff;}
.keyword-list li .result {
    position: absolute;
    right: 15px;
    top: 6px;
    color: #b0b0b0;
}
.nav{position: absolute;left:0;top:0;height: 420px;
    width: 234px;
    border: 0;
    color: #fff;
    background: #333;
    background: rgba(0,0,0,0.6);padding: 20px 0;
    z-index: 20
}
.nav li{
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}
.btn-buy:hover{
    cursor: pointer;
}
.nav li:hover{
    background: #ff6700;
    cursor: pointer;
}
.nav li a{color: #fff;font-size: 14px;}
.navlist{
    display: none;
    background: #fff;
    position: absolute;left: 234px;top: 0;border-top: 1px solid #e0e0e0;z-index: 30;
}
.text:hover{
    color: #ff6700;
}
.navlist ul{    
    width: 265px;
    height: 458px;
    margin: 0;
    padding: 2px 0;
    list-style-type: none;
    float: left;
    }
.navlist ul li{
    position: relative;
    float: left;
    width: 265px;
    height: 76px;
}
.navlist ul li a{display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    -webkit-transition: color .2s;
    transition: color .2s;
}
.navlist ul li img{    margin-right: 12px;
    vertical-align: middle;
    width: 40px;
    height: 40px;}
.navlist ul li .text{
    font-size: 12px;
    line-height: 40px;
}
.navlist ul li .btn-buy{
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 26px;
    width: 58px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700;
    padding: 0;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}
.navlist ul li .btn-buy:hover{
    background: #ff6700;
    color: #fff;
}
/*footer-top*/
.footer-top{margin:0 auto;width:1226px;height:52px;border-bottom:1px solid #e0e0e0;padding-top:27px;}
.footer-top li{float:left;border-right:1px solid #e0e0e0;height:25px;text-align:center;line-height:25px;padding:0 65px;}
.footer-top img{float:left;margin-right:7px;}
.footer-top .bor0{border-right:0;}

/*foot-middle-left*/
.foot-middle{width:100%;height:192px;margin:0 auto;}
.foot-middle-left{width:983px;height:192px;float:left;}
.foot-middle-left ul{float:left;width:165px;}
.foot-middle-left li{line-height:28px;}
.foot-middle-left .flist1-li1{line-height:28px;height:77px;line-height:92px;overflow:hidden;}
.foot-middle-left .flist1-li1 a{color:#424242;font-size:12px;}
.foot-middle-left li a{color:#757575;font-size:11px;}

.foot-middle-right{float:left;height:112px;width:242px;border-left:1px solid #e0e0e0;margin-top:40px;text-align:center;}
.foot-middle-right h3{font-size:20px;color:#ff7e00;}
.foot-middle-right img{margin-top:18px;}

/*footer*/
.footerwrap{width:100%;height:94px;background:#fafafa;}
.f{margin:0 auto;width:100%;height:72px;}
.footer{margin:0 auto;padding-top:22px;width:780px;height:72px;background:#fafafa;}
.footer p a{color:#757575;padding:0 6px 0 5px;line-height:18px;}
.footer p .a1{padding-left:0}
.footer img{float:left;margin-right:10px;}
.footer span{display:block;color:#b6b0b0;}

.fot{padding-top:23px;}
.fot img{float:left;margin-right:5px;margin-top:3px;}
.fot p{width:82px;float:left;line-height:16px;color:#bbbbbb;}
.fot .p1{line-height:32px;}
.fot .p2{margin:0 12px 0 14px;}
.channel-mihone {
    position: relative;
    height: 600px;
    background: url("../img/list/phone/phone-section-05.jpg") no-repeat center;
}
.channel-mihone .channel-mihone-des {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background-color: rgba(0,0,0,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2000000", endColorstr="#b2000000")\9;
    color: #fff;
}
.channel-mihone .channel-mihone-des dl {
    float: left;
    width: 820px;
    padding: 40px 0 0 80px;
}
.channel-mihone .channel-mihone-des dl dt {
    margin-bottom: 10px;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
}
.channel-mihone .channel-mihone-des dl dd {
    line-height: 1.8;
    color: #f5f5f5;
}
.channel-mihone .channel-mihone-des p {
    float: right;
    padding: 25px 35px 0 0;
}
.channel-mihone .channel-mihone-des p .btn {
    display: block;
    margin-bottom: 10px;
    background-color: transparent;
}
.btn-line-primary {
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
}
.btn-large {
    width: 178px;
    height: 48px;
    line-height: 48px;
}
.channel-tips .section-02 {
    display: none;
    border-bottom:1px solid #e0e0e0;  
    height: 865px;
    background: url("../img/list/tv/tv-section-01.jpg") no-repeat center bottom;
}

